* {
    font-family: 'Work Sans', sans-serif;
    /* border: 2px solid red; */
}

.header {
    background-image: url("images/banner.png");
    text-align: right;
    color: rgb(0, 0, 0);
    padding: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
}

.banner-desc {
    font-size: 16px;
}

.blue-button {
    height: 60px;
    font-weight: 700;
    font-size: 20px;
    color: rgb(0, 0, 0);
    background: #ffffff;
    border-radius: 10px;
    border: 0px;
    padding: 10px 30px;
    text-align: center;
    margin-top: 30px;
}

/* main portion*/

.failures {
    display: flex;
    margin: 0px 200px;
    align-content: space-between;
    padding: 70px 0;

}

.failure-title {
    font-weight: 700;
    font-size: 40px;
    color: #000000;
}

.failure-desc {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

ul li:before {
    content: "✓";
    color: green;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}

/* plan section */
.my-plans{
    margin: 0px 200px;
    padding: 70px 50px;
    text-align: center;
}
.plan-header {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: 0px;
}
.plans {
    display: flex;
    margin-left: 80px;
}

.plan-title {
    font-weight: 700;
    font-size: 25px;
}

.plan-desc {
    color: #444343;
    font-weight: 500;
    font-size: 15px;
}
.skill{
    margin-left: 30px;
}
/* linear Gradient */
.grad{
    background-image: url("images/watch.png"),linear-gradient(to right, rgba(3, 3, 19, 1), rgba(195, 202, 246, 0.415));
    background-blend-mode:overlay;
    background-repeat: no-repeat;
    height:50vh;
    width:1140px;
    background-size:cover;
    margin: 0 150px;
}
.mindset{
    font-weight: 500;
    font-size: 40px;
    color: #ffffff;
    border-radius: 10px;
    padding: 20px;
}